<h1>Create user</h1>


<% form_for @user, :url => {:action => 'create'} do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :yomi %><br />
    <%= f.text_field :yomi %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', organizer_event_path(@user.event_id) %>