<p>
  <b>Event:</b>
  <%=h @user.event.title %>
</p>
<p>
  <b>Name:</b>
  <%=h @user.name %>
  <%#= link_to 'Change Name', edit_event_user_path(@user.event.id, @user.id) %>
</p>
<p>
  <b>Att:</b>
  <% if @user.att == 1 then %>
  ◯
  <% elsif @user.att == 0 then %>
  ☓
  <% else %>
  -
  <% end %>
  <br/>
<% form_for @user, :url => {:action => 'attendance_organizer'} do |f| %>
  <label><%= f.radio_button :att, "1" %>出席</label>
  <label><%= f.radio_button :att, "0" %>欠席</label>
  <label><%= f.radio_button :att, "-1" %>未入力</label></br></br>
  <%= f.submit"Update" %>
<% end %>
</p>

<%= link_to 'Back', organizer_event_path(@user.event_id) %>
<%= link_to "Home", organizer_index_path %>
