<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>
<p>
Att: <%= @event.users.present.count %>/<%= @event.users.count %>
</p>
<table>
<% users_sort = @event.users.sort{|aa,bb| aa.yomi <=> bb.yomi} %>
<% users_sort.each do |user| %>
<tr>
<td><%= link_to user.name, event_user_path(user.event_id, user.id) %></td>
<td>
	<% if user.att == 1 then %>
	[◯]
	<% else %>

	<% end %>
</td>
<% end %>

</table>

</br>

</br>
<%= link_to 'Back', events_path %>
